{% extends 'portail/layout.html.twig' %}

{% block titre %}Présentation de l'ADAG{% endblock %}

{% block main_content %}
    <!--Subheader Start-->
    <section class="wf100 subheader">
        <div class="container">
            <h2>Missions </h2>
            <ul>
                <li> <a href="{{ path('home') }}">Accueil</a> </li>
                <li> Missions</li>
            </ul>
        </div>
    </section>
    <!--Subheader End-->

    <!--Main Content Start-->
    <div class="main-content">
        <!--Local Boards & Services Start-->
        <section class="wf100 p80 h2-local-brands depart-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="missions-left">
                            <p>La mission de l’ADAG est de contribuer à la mise en œuvre des deux politiques publiques du
                                Gouvernement à savoir : valoriser le potentiel agricole et assurer la sécurité alimentaire,
                                à travers un processus opérationnel résumé en trois axes :</p>
                            <ul style="margin-top: 20px">
                                <li><b>Foncier agricole:</b> Sécuriser et valoriser les terres agricoles</li>
                                <li><b>Innovations:</b> Production et vulgarisation des technologies</li>
                                <li><b>Promotion de l’entreprenariat:</b> Développement des chaînes des valeurs</li>
                            </ul>
                            <p style="margin-top: 20px">
                                L’ADAG entend jouer un rôle majeur dans la transformation de l’agriculture gabonaise en
                                contribuant à la promotion de l’agrégation et au développement de zones agricoles à forte
                                productivité (ZAP). Cette vision devra permettre une modernisation des unités et processus de
                                production avec des modèles économiquement viables, durables et inclusifs.
                            </p>
                            <p style="margin-top: 20px">
                                Les actions de l’ADAG vont permettre :
                            </p>
                            <ul style="margin-top: 20px">
                                <li>la modernisation des exploitations agricoles familiales pour un passage de la logique de
                                    subsistance à la logique marchande </li>
                                <li>l’encouragement à l’émergence de nouveaux acteurs (agripreneurs)</li>
                                <li>le renforcement des investissements nationaux et étrangers</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="section-title">
                            <h4 style="color: #E3D100">Promotion des chaînes de valeurs stratégiques et développement des partenariats</h4>
                            <ul style="margin-top: 20px">
                                <li style="margin-top: 10px">Contribuer aux Objectifs du PRE à l’horizon 2023:
                                    <ul>
                                        <li>Réduction des importations de 50 %</li>
                                        <li>Contribution au PIB de 10 %</li>
                                        <li>Satisfaction minimum de 10 % des besoins en riz et volailles en plus de denrées
                                            prises en compte dans le cadre du programme GRAINE </li>
                                    </ul>
                                </li>
                                <li style="margin-top: 10px">Regrouper l’ensemble des acteurs des chaines de valeurs à travers l’agrégation
                                    et l’interprofession</li>
                                <li style="margin-top: 10px">Encourager l’approvisionnement des marchés et des grands centres commerciaux par la production
                                    locale</li>
                                <li style="margin-top: 10px">Mettre en  place le fonds de développement agricole (FDA) et des modalités relatives au
                                    financement du secteur agricole national (crédit agricole, assurances)</li>
                                <li style="margin-top: 10px">Sélection des investisseurs par le Ministère sur la base des références et de
                                    l’alignement des plans d’affaires sur la politique agricole du Gabon – engagement des
                                    investisseurs à respecter un cahier des charges précis, notamment en ce qui concerne
                                    l’emploi de la main d’œuvre locale.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Local Boards & Services End-->
    </div>
    <!--Main Content End-->

{% endblock %}