{% extends 'portail/layout.html.twig' %}

{% block title %}Prestations{% endblock %}

{% block main_content %}
    <!--Subheader Start-->
    <section class="wf100 subheader">
        <div class="container">
            <h2>Prestations </h2>
            <ul>
                <li> <a href="{{ path('home') }}">Accueil</a> </li>
                <li> Prestations</li>
            </ul>
        </div>
    </section>
    <!--Subheader End-->

    <!--Main Content Start-->
    <div class="main-content p80">
        <!--Services Start-->
        <div class="wf100 local-services">
            <div class="container">
                <div class="row">
                    <!--Services Box Start-->
                    {% for prestation in prestations %}
                    <div class="col-md-4 col-sm-6">
                        <div class="service-box">
                            <div class="serbox-cap">
                                <h6><a href="#">{{ prestation.titre }} </a>
                                </h6>
                                {#<p> Nam turpis justo, placerat sed eleifend quis, hendrerit id metus Integer eleifend. </p>#}
                                <a href="#" class="rm">Lire Plus</a>
                            </div>
                            <img src="{{ asset('images/services/') }}{{ prestation.imageName }}" alt="">
                        </div>
                    </div>
                    {% endfor %}
                    <!--Services Box End-->

                    {#<div class="site-pagination">#}
                        {#<nav aria-label="Page navigation">#}
                            {#<ul class="pagination">#}
                                {#<li> <a href="#" aria-label="Previous"> <span aria-hidden="true">«</span> </a> </li>#}
                                {#<li><a href="#">1</a></li>#}
                                {#<li><a href="#">2</a></li>#}
                                {#<li class="active"><a href="#">3</a></li>#}
                                {#<li><a href="#">4</a></li>#}
                                {#<li><a href="#">5</a></li>#}
                                {#<li> <a href="#" aria-label="Next"> <span aria-hidden="true">»</span> </a> </li>#}
                            {#</ul>#}
                        {#</nav>#}
                    {#</div>#}
                </div>
            </div>
        </div>
        <!--Services End-->
    </div>
    <!--Main Content End-->

{% endblock %}